In [22]:
import pandas as pd 
import numpy as np

In [23]:
path = 'D:/projetos/fatec/tcc/fast_api/dataset/imdb_top_1000.csv'
data = pd.read_csv(path)
C = data['IMDB_Rating'].mean()
C

7.949299999999999

In [24]:
m = data['No_of_Votes'].quantile(0.9)
m

699297.7

In [25]:
q_movies = data.copy().loc[data['No_of_Votes'] >= m]
def weighted_rating(x, m=m, C=C):
    v = x['IMDB_Rating']
    R = x['No_of_Votes']
    return (v/(v+m) * R) + (m/(m+v) * C)
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)
q_movies = q_movies.sort_values('score', ascending = False)
q_movies[['Series_Title', 'score']].head(10)

                                         Series_Title      score
0                            The Shawshank Redemption  39.109933
2                                     The Dark Knight  37.591539
8                                           Inception  33.960641
9                                          Fight Club  31.289055
6                                        Pulp Fiction  31.190897
11                                       Forrest Gump  30.716248
1                                       The Godfather  29.266555
10  The Lord of the Rings: The Fellowship of the Ring  28.857103
5       The Lord of the Rings: The Return of the King  28.856403
14                                         The Matrix  28.805447

In [26]:
data['Id'] = data['Series_Title'].rank(method='dense').astype(int)
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Id
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",876
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",787
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",767
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",788
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",2